#public-container
  #public-landing
    section.public
      article
        h4 Welcome to BU Protein!
        p Sign up now to take part of our offers & get info on our products.  
  
  section.public-store
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://ecx.images-amazon.com/images/I/81hnta6UGfL._SL1500_.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://ecx.images-amazon.com/images/I/81hnta6UGfL._SL1500_.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://ecx.images-amazon.com/images/I/81hnta6UGfL._SL1500_.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://ecx.images-amazon.com/images/I/81hnta6UGfL._SL1500_.jpg")
      a(class="btn" href="#") Buy
      
  section.public-story
    article
      h4 Welcome to Bu Protein Store!
      hr
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam corporis molestiae aliquam ullam esse maiores sunt accusantium in, voluptas mollitia, atque veritatis quia. Perferendis expedita, cumque veniam nesciunt ipsum. Facere.
      
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.      
      hr
      p fin