#landing-container
  #login-container
    #login-header
      .logo
        h1 BU PROTEIN
        p a push on your way
    #login-primary
      form(action="premium.html")
        p Enter as a member if you already have a login.
        input(class="input" type="text" autofocus required placeholder="Enter your member-name")
        button(type="submit" class="btn")
          i.fa.fa-check
          span  Enter as member
    #login-secondary
      a(href="guest.html" class="btn secondary")
        i.fa.fa-check
        span Enter as guest