#public-container
  #public-landing
    
  
  section.public-store
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
    article
      h4 Protein pulver
      hr
      p.small  Lorem ipsum dolor sit amet...
      img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
      a(class="btn" href="#") Buy
      
  nav#info
          ul
            li
              label(for='radio-about') About
            li
              label(for='radio-reviews') Reviews
            li
              label(for='radio-similar') Similar

  section.public-story
        input(id="radio-about" type="radio" name="radio" checked)
        input(id="radio-reviews" type="radio" name="radio")
        input(id="radio-similar" type="radio" name="radio")

        article#about
          h4 Star Nutrition Whey-80®
          p Komplett proteintillskott för dig som idrottar och vill ha bästa möjliga resultat av din träning. Sveriges populäraste protein!
          p Whey-80® från Star Nutrition är ett högvärdigt proteintillskott med god smak och bra löslighet. Produkten består av 100% ultrafiltrerat och instantiserat vassleproteinkoncentrat och är det ultimata tillskottet för dig som idrottar. Whey-80® påskyndar muskeluppbyggnad och återhämtning och ger snabbt märkbara resultat!
          h5 Content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.      
        article#reviews
          h4 Reviews from former customers
          section#review-flow
            span#headline message
            span#headline review
            span#headline customer  
            span Non probant transferrem. Lorem iudicem pariatur, laboris ne magna eiusmod, e quid appellat, in eu anim nostrud.  
            span 
              i.yello.fa.fa-star
              i.yello.fa.fa-star
              i.yello.fa.fa-star
              i.yello.fa.fa-star
              i.yello.fa.fa-star
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.fa.fa-star
              i.fa.fa-star
            span Anna-Maria Eriksdotters
            span Illum ne admodum non dolor, enim se iis duis pariatur quo nulla ad cupidatat ab iis tamen cillum ita doctrina.
            span 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            span Patrick Björk 
            span Se veniam quae varias nescius.
            span 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.fa.fa-star 
              i.fa.fa-star
              i.fa.fa-star 
              i.fa.fa-star
              i.fa.fa-star 
              i.fa.fa-star
            span Marianna Hägendahl
            span Velit cillum elit voluptate a deserunt eram mentitum commodo, sed litteris 
            span 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star 
              i.yello.fa.fa-star
              i.yello.fa.fa-star
              i.fa.fa-star
            span Louise Niklasson
        article#similar
          h4 Similar products
          section.public-store2
              article
                img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
                h5 Protein pulver
              article
                img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
                h5 Protein pulver
              article
                img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
                h5 Protein pulver
              article
                img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
                h5 Protein pulver
              article
                img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
                h5 Protein pulver
              article
                img(src="http://76.my/Malaysia/dymatize-iso-100-5lb-whey-protein-supplement-musclefactory-1309-24-MuscleFactory@14.jpg")
                h5 Protein pulver
                